@import url(https://fonts.bunny.net/css?family=arizonia:400);
header {
  background-color: #38040d;
  box-shadow: inset 3px -3px 30px #920c24, inset -4px 4px 4px #ffffff,
    0 0 20px #920c24;
  color: #fff;
  text-align: center;
  padding: 1em;
  h1 {
    font-family: "Arizonia", handwriting;
    font-size: 4em;
    letter-spacing: 0.1em;
  }
}
